.container {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  gap: 16px;
  width: var(--max-width);
  max-width: 100%;
}

.pinnedCount {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1;
  border-radius: 8px;
  background-color: #c9c9c9;
  opacity: 0.9;
  padding: 8px 16px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinnedCount strong {
  padding: 0 12px;
  font-size: xx-large;
}
