.container {
  padding: 1rem;
  border-radius: var(--border-radius);
  background: white;
  display: grid;
  grid: auto / auto auto;
  gap: 8px;
  position: relative;
}

.container[data-active] {
  outline: 2px solid #0900ff;
}

.image {
  object-fit: cover;
  aspect-ratio: 16 / 9;
  border-radius: 8px;
}

.count {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: x-small;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 99999px;
  background-color: #ddd;
  color: #666;
  opacity: 0.8;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.category {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #777;
  color: white;
  font-size: small;
}

.iconButton {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
}

.iconButton:hover {
  background-color: #eee;
}

.iconButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 13;
  word-break: break-all;
  margin-bottom: 8px;
}

.description {
  font-size: 0.8rem;
}
