.container {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  gap: 16px;
  width: var(--max-width);
  max-width: 100%;
}

.notReadCard {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1;
  border-radius: 8px;
  background-color: #c9c9c9;
  opacity: 0.9;
  width: 200px;
  padding: 12px;
}

.notReadCard strong {
  padding: 0 4px;
  font-size: x-large;
}

.notReadCardLabel {
  padding-right: 4px;
  font-size: small;
}
